.booking__wrapper{
    width: 60%;
    margin: auto;
}

h2{
    text-align: center;

}

.booking__content{
    background-color: #fff;
    margin: 30px;
}

.booking__shop-name {
    font-weight: bolder;
    background-color: blue;
    padding: 20px;
    color: #fff;
    margin: 10px 0;
}

.booking__detail{
    padding: 30px;
    font-size: larger;
}

table th,
table td {
    padding: 20px;
}

.back{
    text-align: right;
}

.back__btn{
    margin: 30px;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #B5B5B5;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
    .booking__wrapper {
        width: 90%;
        margin: auto;
    }

    h2 {
        text-align: center;

    }

    .booking__content {
        background-color: #fff;
        margin: 10px;
    }

    h.booking__shop-name {
        font-weight: bolder;
        background-color: blue;
        padding: 10px;
        color: #fff;
        margin: 10px 0;
    }

    .booking__detail {
        padding: 10px;
        font-size: larger;
    }

    table th,
    table td {
        padding: 10px;
    }

    .back {
        text-align: right;
    }

    .back__btn {
        margin: 10px;
        padding: 5px 10px;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #B5B5B5;
    }

}